# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

TP3/geneticwarrior/target/
TP3/geneticwarrior/.gradle/
TP3/geneticwarrior/src/main/resources/fulldata/

TP3/geneticwarrior/.idea/
TP3/.idea/

.idea/
# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.lock
/.gradle
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
